<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <form method="POST" action="/upload" enctype="multipart/form-data" id="form">

    <select name="category">
      <option value="Editorial">editorial</option>
      <option value="Commercial">commercial</option>
      <option value="Portrait">portrait</option>
    </select>
    <br />
    <label>title</label>
    <input type="text" name="title" />
    <br />
    <label>subtitle</label>
    <input type="text" name="subtitle" />
    <br />
    <h3>Uploaded files</h3>
    <input id="files-upload" type="file" multiple name="mainimage" />
    <ul id="file-list">
      <li class="no-items">(파일이 선택되지 않음)</li>
    </ul>

    <button type="submit" id="submit">저장</button>


  </form>
  <button id="delete">삭제</button>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script>

    document.querySelector("#delete").addEventListener('click', function () {
      $.ajax({
        method: 'DELETE',
        url: '/delete',
      }).done(function (result) {
        alert(result);
      }).fail(function (error) {
        alert(error);
      });
    });



    var filesUpload = document.getElementById("files-upload"),
      fileList = document.getElementById("file-list"),
      test = document.getElementById("test");

    function traverseFiles(files) {
      var li,
        file,
        fileInfo,
        li2;
      fileList.innerHTML = "";

      for (var i = 0, il = files.length; i < il; i++) {
        li = document.createElement("li");
        file = files[i];
        fileInfo = "<div><strong>Name:</strong> "

          + file.name + "</div>";
        fileInfo += "<div><strong>Size:</strong> "

          + file.size + " bytes</div>";
        fileInfo += "<div><strong>Type:</strong> "

          + file.type + "</div>";
        li.innerHTML = fileInfo;
        fileList.appendChild(li);
      };
      for (var i = 0, il2 = files.length; i < il2; i++) {
        file = files[i];
        var a = `<input type="hidden" name="filename" value="${file.name}" />`
        document.querySelector("#form").insertAdjacentHTML('beforeend', a);
      };
    };

    filesUpload.onchange = function () {
      traverseFiles(this.files);
    }; 
  </script>
</body>

</html>