#brand-logo {
  font-family: 'NanumMyeongjoExtraBold';
  font-size: 30px;
}


#fs {
  margin-left: 20px;
  font-size: 18px;
}

.main-font {
  font-family: 'NanumMyeongjoBold';
}

* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  font-family: 'NanumMyeongjo';
}

a {
  text-decoration: none;
}

Link {
  text-decoration: none;
}

.body {
  overflow: hidden;
}
body {
  margin: 0;
}
div {
  box-sizing: border-box;
}
.my-masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0px;
  margin-right: 10px;
  width: auto;
  /* padding-top: 100px; */
}

.my-masonry-grid_column {
  padding-left: 10px;
  /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column>div {
  margin-bottom: 10px;
  cursor: pointer;
}

.my-masonry-grid_column>div>.wrap img {
  width: 100%;
  border-radius: 0%;
  position: relative;
  transition: all 0.3s ease;
}

.my-masonry-grid_column>div>.wrap img:hover {
  filter: opacity(20%);
  transform: scale(1.02);
  z-index: 50;
}


.wrap {
  position: relative;
}

.wrap-text h3 {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 51;
  display: none;
}

.wrap-text h2 {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  z-index: 51;
  display: none;
}

.wrap:hover h3 {
  font-size: 1.3vw;
  display: block;
  color: black;
}

.wrap:hover h2 {
  font-size: 2.5vh;
  font-weight: bold;
  display: block;
  margin-top: 4vw;
  color: black;
}

.fixed {
  width: 100%;
  position: fixed;
  height: 50px;
  bottom: 0px;
}

.title {
  display: flex;
  align-items: center;

  margin-left: 20px;
  font-size: 2vh;
  font-weight: bolder
}

.back {
  margin-right: 40px;
  font-size: 30px;
  text-align: right;
  color: grey;
}

.back:hover>.arrow {
  margin-right: 10px;
  transition: all 0.3s ease-in;
  color: black;
  font-weight: bold;
}

.nav-item>button {
  color: grey;
  font-size: 1.7vh;
}

.nav-item>button:hover {
  color: black;
}


thead>tr>th {
  text-align: center;
  font-size: 1.7vh;
}

tbody>tr>td {
  text-align: center;
  vertical-align: middle;
  font-size: 1.7vh;
}

.preview {
  width: 10vh;
  cursor: pointer;
}

.setting {
  max-width: 500px;
  display: block;
}


.loginbg {
  opacity: 0.1;
  max-width: 100%;
  max-height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
}

.loginBoxOuter {
  background-image: url('../public/logo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  max-width: 600px;
  max-height: 50%;
  width: 80vw;
  height: 100%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display:table;
  table-layout:fixed;
}

.loginBoxInner {
  display: table-cell;
  vertical-align: middle;
}

.loginBoxInner button {
  background-color: black;
  margin: auto;
  display: block;
}

.main-bg {
  background-image: url('http://localhost:8080/image/임시배너.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 60vh;
  text-align: center;
  padding: 1px;

}
.main-bg h1{
  color: white;
  margin-top: 250px;
  font-weight: bold;
}

.service {
  cursor: pointer;
  text-align: center;
  margin: 50px 30px 50px 30px;
  /* padding: 50px 0px 50px 0px */
}

.service-items > h4 {
  font-weight: bold;
  font-size: 30px;
}

.service-items > a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 18px;
}

.service-items > p {
  font-weight: bold;
  font-size: 18px;
}

#service-icon {
  /* background-color: white; */
  color: black;
  width: 100px;
  height: 100px;
  /* border-radius: 50%; */
  box-sizing: border-box;
  /* padding: 15px; */
}

.message-box {
  margin: 50px 30px 30px 30px;
  padding: 30px;
}

.message-box > h1 {
  font-weight: bold;
}

.message-box > p {
  line-height: 200%;
}

.contact-box {
  margin: 50px 30px 30px 30px;
  padding: 30px;
  box-shadow: 0.5px 0.5px 2px 1px rgb(206, 202, 202);
}

.contact-box > div > button {
  width: 150px;
  /* float: right; */
  font-weight: bold;
}