
#brand-logo {
  font-family: 'NanumMyeongjoExtraBold';
  font-size: 30px;
}


#fs {
  margin-left: 20px;
  font-size: 18px;
}

.main-font {
  font-family: 'NanumMyeongjoBold';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'NanumMyeongjo';
}

.body {
  overflow: hidden;
}
.my-masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 70px;
  margin-right: 100px;
  width: auto;
  padding-top: 100px;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  margin-bottom: 30px;
  cursor: pointer;
}

.my-masonry-grid_column > div > .wrap img {
  width: 100%;
  border-radius: 0%;
  position: relative;
  transition: all 0.3s ease;
  box-shadow: 5px 5px 2px 0px rgb(109, 107, 107);
}
.my-masonry-grid_column > div > .wrap img:hover {
  filter: brightness(90%);
  transform: scale(1.05);
  z-index: 50;
}


.wrap {
  position: relative;
}

.wrap-text h3 {
  text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
  transform: translate( -50%, -50% );
  z-index: 51;
  color: blue;
  display: none;
}

.wrap:hover h3 {
  color: white;
  display: block;
}
