.right-arrow {
    width: 30px;
    height: 30px;

}
.left-arrow {
    width: 30px;
    height: 30px;
}
.slick-slider:hover .slick-next{
    right :45px;
    transition: all 0.3s;
}
.slick-slider:hover .slick-prev{
    left : 35px;
    transition: all 0.3s;
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;
    z-index: 1;
    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

.slick-prev:before,
.slick-next:before
{
    display: none;
}

.slick-prev
{
    left: -240px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-next
{
    right: -230px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
@media screen and (max-width: 1200px) {
    .slick-slider:hover .slick-next{
        right :15px;
        transition: all 0.3s;
    }
    .slick-slider:hover .slick-prev{
        left : 5px;
        transition: all 0.3s;
    }
}
@media screen and (max-width: 850px) {
    .right-arrow{
        display: none;
    }
    .left-arrow{
        display: none;
    }
}